* {
    margin: 0;
    padding: 0;
    
}

.header {
    background-color: #1145f01f;
    padding: 50px 100px;
}

h1 {
    color: #5254d4;
    align-self: center;
    margin-bottom: 20px;
}

.navigation ul {
    display: flex;
    list-style: none;
    height: 20px;
}

a {
    text-decoration: none;
    color: #1519e4;
}

.navigation li {
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 50px;
}

.navigation li:hover {
    background-color: #2109f71f;
}

.body {
    background-color: #1145f01f;
}

.description {
    color: #5254d4;
    align-self: center;
    margin-left: 100px;
    padding-bottom: 30px;
    padding-right: 40px;
}

h2 {
    padding-bottom: 20px;
}

.description p {
    color: #2d2e74;
}

.cards {
    color: #2d2e74;
    align-self: center;
    margin: auto;
    padding-bottom: 30px;
    padding-left: 100px;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    border-radius: 15px;
    max-width: 300px;
    max-height: 220px;
}

.card {
    border: 1px #2d2e74 solid;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 40px;
    margin-right: 40px;
    flex-basis: 200px;
    
}

.name {
    color: #700fdf;
}

.footer {
    background-color: #1145f01f;
    color: #5254d4;
    text-align: center;
}

h3 {
    padding-bottom: 20px;
}

.fixed {
    display: flex;
    flex-direction: row-reverse;
}

.fix {
    position: fixed;
    background-color: #2b2bee8b;
    color: white;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    height: 30px;
    margin: auto;
    margin-bottom: 25px;
    top: 50px;
}

@media (max-width: 1000px) {
    .header {
        height: 20px;
    }

    .header ul {
        display: none;
    }
}

.card input {
    max-width: 80%;
}